* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
}

.wrapper {
    display: flex;
    gap: 2px;
    justify-content: center;
}

.left__block {
    width: 70%;
    border: 1px solid black;
    margin: 2px;
}

.right__block {
    width: 30%;
    border: 1px solid black;
    margin: 2px;
}

/* contacts */
.title {
    color: rgb(33, 10, 0);
    font-size: 36px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.contacts {
    display: flex;
    flex-direction: column;
    height: 600px;
}

.contact__item {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-top: 2px;

    margin-left: 5px;
    margin-right: 5px;

}

.column {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    border: 1px dotted rgb(33, 10, 0);
    background-color: rgb(251, 251, 233);
    overflow-x: hidden;
}

.contact__name {
    width: 15%;
}

.contact__surname {
    width: 15%;
}

.contact__position {
    width: 10%;
}

.contact__firmName {
    width: 20%;
}

.contact__email {
    width: 30%;
}

.contact__telephone {
    width: 15%;
}
.icon__button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

.icon__edit{
    width: 18px;
    height: 18px;
    margin-left: 3px;
    margin-right: 3px;
}

.icon__edit:hover{
    width: 24px;
    height: 24px;
}

.icon__delete{
    width: 18px;
    height: 18px;
    margin-left: 3px;
    margin-right: 3px;
}

.icon__delete:hover{
    width: 24px;
    height: 24px;
}

.icon__add{
    width: 18px;
    height: 18px;
    margin-left: 3px;
    margin-right: 3px;
}

.icon__add:hover{
    width: 24px;
    height: 24px;
}

.block__button {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.btn {
    padding: 10px;
    color: rgb(33, 10, 0);
    background-color: rgb(189, 222, 244);
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid;
}

.btn:hover {
    color: rgb(120, 180, 220);
    background-color: rgb(33, 10, 0);
}

/* Модальное окно */
#cover-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.8;
  }


/* addContacts.html */
.forma {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__item {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;


}

.label {
    color: rgb(33, 10, 0);
    font-size: 18px;
    font-weight: bold;
    width: 100px;
    text-align: right;
    padding-right: 20px;
}

.textInput {
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(33, 10, 0);
    font-size: 16px;
}

.blockButtons {
    width: 300px;
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 50px;
}